
<style>
table, th, td { border: 1px solid black;}
.Water { text-align: center; color: blue; background-color: blue;}
.Ship { text-align: center; color: blue; background-color: green;}
</style>
<div>
<% array=[] %>
 <% @board.grid.each_slice(10){|slice_of_hash| array << slice_of_hash} %>
<table style="width: 100%">
<% array.each do |a| %>
<tr>
<% a.each do |b| %>
	<td id=<%=b[0]%> class=<%=b[1].content.class%>> ~ </td>
	<% end %>
</tr>
<% end %>
</table>
</div>
